skipToContent {
    display: hidden;
}

skipToContent:focus {
    display: inline;
}

body {
    display: block;
    margin: 8px;
}

body:focus {
    outline: none;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

nav {
    display: block;
}

article {
    display: block;
}

img {
  width: 100px;
}

#firstImage {
  width: 30%;
}

#secondImage {
  width: 60px;
}
