skipToContent {
    display: hidden;
}

skipToContent:focus {
    display: inline;
}

body {
    display: block;
    margin: 8px;
}

body:focus {
    outline: none;
}

h1 {
  color: black;
  background-color: FFFFFF;
}

h2 {
  color: black;
}

nav {
    display: block;
}

article {
    display: block;
}

img {
  width: 100px;
}

#firstImage {
  width: 30%;
}

#secondImage {
  width: 60px;
}

a:visited {
 color: purple;
}
